@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('HelveticaNeue-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('HelveticaNeue-Medium.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('HelveticaNeue-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('HelveticaNeue-Black.otf') format('otf');
}

@font-face {
  font-family: 'Rufina';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Rufina-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Lato-Regular.ttf') format('truetype');
}
