*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: 600px;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 50px;
}

.pagination-container {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
}

.paginate-buttons {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 2%;
  padding: 4px 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.paginate-buttons:hover {
  color: #ababab;
}

.active-page {
  cursor: default;
  pointer-events: none;
  font-weight: 700;
}
